h1{
    color:aqua;
    text-align: center;
    font: size 50px;
}
h2{
    color:aqua;
    text-align: center;
    font-size: larger;
}
body{
    height: 100vh;
background-image: url("1.jpg");
background-size: cover;
background-position: center;
}
img{
    display: block;
    margin: 0 auto 0 auto;
}
header{
    color:aqua;
    text-align: center;
    font-size: larger;
    width: 100%;
    padding: 30px 100px;
    justify-content: space-between;
}
header .Navigation a{
    border-style: inherit;
    color: aliceblue;
    font-size: 60px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.6s;
    transition-property: background;
}
header .Navigation a:not(:last-child){
    margin-right: 30px;
}
header .Navigation a:hover{
    background: black;
}
.logo a{
    font-family: cursive;
    font-size: 40px;
    color: crimson;
    font-weight: bold;
    margin: 100px;
}
a{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 19px;
    transition: 0.3 all ease;
}
ul{
    font-style: italic;
    margin: 0px;
    margin-right: 100px;
}
ul li{
    float: left;
    padding: 0px 20px;
    list-style: none;
}
ul li a:hover{
    color: crimson;

}
nav{
    width: 100%;
    background-color: black;
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}